@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6b21a8;
  font-family: 'Inter', Arial, sans-serif; /* Added fallback fonts */
}

.dark {
  --primary-color: #a855f7;
  background-color: #121212; /* Dark background for the entire app */
  color: #ffffff; /* Light text color */
}
